aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
asttokens==3.0.0
asyncio==4.0.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.2
colorama==0.4.6
decorator==5.2.1
executing==2.2.0
frozenlist==1.7.0
idna==3.10
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jsonpickle==4.1.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
multidict==6.6.3
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.2
pandas==2.3.1
parso==0.8.4
pathlib==1.0.1
prompt_toolkit==3.0.51
propcache==0.3.2
pure_eval==0.2.3
pyalex==0.18
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyvis==0.3.2
requests==2.32.4
six==1.17.0
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
typing==3.7.4.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.13
yarl==1.20.1
